# Images are downloaded by fetch.sh, never committed; rms/ is made on
# OpenVMS by rms/make/make.sh, and committed.
*
!.gitignore
!fetch.sh
!SHA256SUMS
!*.img.xz
!expected/
!expected/**
!rms/
!rms/**
rms/make/make.log*
